<div class="eds-navbar">
  <%= image_tag "https://viblo.asia/uploads/a67ecbd6-f422-4471-b62c-37bade997690.png", alt: "ruby-logo", id: "logo" %>
  <p>home</p>

</div>
<div class="banner" style='background-image: url("<%= asset_path('profile.jpeg') %>")'>
  <div>
    <h1>Edward Sparks</h1>
    <h3>Job Title</h3>
    <p>Full time butterfly therapist</p>
  </div>
</div>


<h3 class="mark">Skills</h3>
<ul class="list" id="list">
  <li>Ruby on Rails</li>
  <li>Javascript</li>
  <li>Bossing Life</li>
  <li>Eating Cake</li>
  <li>Student enrichment</li>
  <li>CSS</li>
</ul>


<h3>bio</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, doloribus, sapiente. Magnam beatae vero velit voluptates vel aliquid delectus, culpa ad obcaecati nostrum labore. Quod, aliquid? Error iusto officia porro!</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A fugiat quo odio et magnam, excepturi nihil id quos quas blanditiis officia hic commodi vel ab tempore esse dolore repudiandae perferendis.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, doloribus, sapiente. Magnam beatae vero velit voluptates vel aliquid delectus, culpa ad obcaecati nostrum labore. Quod, aliquid? Error iusto officia porro!</p>

<%= image_tag "https://scontent-lhr3-1.xx.fbcdn.net/v/t31.0-8/15936626_10154691757925973_1710462265522815299_o.jpg?_nc_cat=105&oh=5fc317bf0893e64fc62cc2b9f666ae73&oe=5C5C9151", alt: "snowboarding", class: "ski-image" %>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A fugiat quo odio et magnam, excepturi nihil id quos quas blanditiis officia hic commodi vel ab tempore esse dolore repudiandae perferendis.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, doloribus, sapiente. Magnam beatae vero velit voluptates vel aliquid delectus, culpa ad obcaecati nostrum labore. Quod, aliquid? Error iusto officia porro!</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A fugiat quo odio et magnam, excepturi nihil id quos quas blanditiis officia hic commodi vel ab tempore esse dolore repudiandae perferendis.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, doloribus, sapiente. Magnam beatae vero velit voluptates vel aliquid delectus, culpa ad obcaecati nostrum labore. Quod, aliquid? Error iusto officia porro!</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A fugiat quo odio et magnam, excepturi nihil id quos quas blanditiis officia hic commodi vel ab tempore esse dolore repudiandae perferendis.</p>


<button class="btn btn-primary">Click if you're cool</button>
<a class="btn btn-warning" href="https://www.thedailymash.co.uk/news/society/husband-asked-if-he-would-like-to-do-the-dishes-thinks-its-a-question-20170507127192" target="_blank">I relate to this</a>
